@model NoMasAccidentesNegocio.Contrato
@{
    ViewBag.Title = "Crear Contrato";
}

<h2>Agregar Nuevo Contrato</h2>
@Html.ValidationSummary()

@Html.ActionLink("listado de productos","index")
@using (Html.BeginForm())
{
    @Html.LabelFor(p => p.fecha_Creacion_Contrato)
    @Html.TextBoxFor(p => p.fecha_Creacion_Contrato)
    <br />
    @Html.LabelFor(p => p.empresa_Rut)
    @Html.TextBoxFor(p => p.empresa_Rut)
    <br />
    @Html.LabelFor(p => p.fecha_Termino_Contrato)
    @Html.TextBoxFor(p => p.fecha_Termino_Contrato)
    <br />
    @Html.LabelFor(p => p.texto_Contrato)
    @Html.TextBoxFor(p => p.texto_Contrato)
    <br />
    <button>Guardar</button>
}
